:root{
    --color-background: #eeeeee;
    --color-primary: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    width: 100%;
    background: var(--color-background);
}

nav{
    margin: auto;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    margin-left: 5px;
    padding: 10px;
    display: block;
    float: right;
}