@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');


:root{
    --color-background: #eeeeee;
    --color-primary: black;
    --color-secondary: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-primary);
}

.container {
    border: 10px solid whitesmoke;
    background-image: url("../img/red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    box-shadow: 10px 8px 9px black;
} 

.header {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    background-color: none;
    font-family: 'Bilbo', cursive;
    font-size: 20px;
}

.logo{
    color: var(--color-background);
}

.logo:hover{
    color: var(--color-primary);
    transition: 0.5s;
}

.main{
    position: absolute;
    right: 15%;
    top: 40%;
}

.navbar{
    align-items: center;
    justify-content: center;
    float: left;
}

.navbar a{
    text-decoration: none;
    color: var(--color-background);
    padding: 20px;
}

.main h1 {
    color: var(--color-background);
}